body{
background:#0f172a;
font-family:Arial;
color:white;
display:flex;
justify-content:center;
margin-top:50px;
}

.box{
background:#1e293b;
padding:40px;
border-radius:15px;
width:400px;
box-shadow:0 0 20px rgba(0,0,0,0.5);
}

input,textarea,button{
width:100%;
padding:12px;
margin-top:10px;
border:none;
border-radius:8px;
}

button{
background:#3b82f6;
color:white;
font-weight:bold;
cursor:pointer;
}